<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.georgeyang.hashever"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 允许程序打开网络套接字权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 保持屏幕常亮所需权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 读取手机联系人信息所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 向SD卡写入文件所需权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SD卡状态所需权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取或更改系统设置 所需权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 手机震动所需权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 创建和删除文件所需权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 查询网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 调用系统窗口所需权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用户定位所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="online.magicbox.lib.PluginActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="cn.georgeyang.hashever" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="magicbox" />
            </intent-filter>
        </activity>
    </application>

</manifest>